.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #111;
    padding: 5px;
}
.left{
    display: flex;
    margin-right: 50px;
    align-items: center;
    gap: 20px;
    color: white;
}
.right{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.search{
    height: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
@media (max-width: 767px) {
    /* Your CSS styles here */
    .left{
       display : none;
    }
  }
@media (min-width: 767px) {
    /* Your CSS styles here */
    .menuNav{
       display : none;
    }
  }
