.container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #111;
    padding: 3px;
}
.left{
    display: flex;
    margin-right: 50px;
    align-items: center;
    gap: 20px;
    color: white;
}
.right{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.search{
    height: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
