.container {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    z-index: 1000;
    height: calc(100vh);
    text-align: justify;
}

.leftContainer {
    flex: 1;
    background-color: white;
    position: sticky;
    /* top: 50px; */
    
}

.leftBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    justify-content: center;
}


.rightContainer {
    flex: 5;
    background-color: aqua;
    overflow-y: auto;
    
}

.rightBodyContainer {
    display: flex;
    grid-gap: 30px;
    gap: 30px;
    overflow-y: auto;
}

.rightBodyLeft {
    flex: 3.3 1;
}

.rightBodyRight {
    flex: 1.54 1;
    position: sticky;
    height: calc(100vh);
    overflow-y: auto;


} 