.container {
    /* margin-top: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* margin-top: 60px; */
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 250px;
    margin-top: 30px;
}

.loginForm input {
    /* width: 125%; */
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 100%;
}
.btn {
    background-color:  rgb(107, 245, 192);
    /* border: none;
    border-color: white; */
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    color: black;
    padding: 8px;
}