.container{
    margin-top: 60px;
    z-index: 1000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 12;
    
}
.blogs{
    height: 100%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);

}
